<!-- CUSTOM CSS -->
<link rel="stylesheet" href="css/home.css" />
<!-- GOOGLE FONT -->
<link
	href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
	rel="stylesheet"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap"
	rel="stylesheet"
/>

<div class="container default-top-padding">
	<%-include('homeSections/_section_teachup')%>
	<%-include('homeSections/_section_secure')%>
	<%-include('homeSections/_section_fast')%>
	<%-include('homeSections/_section_evolving')%>
	<%-include('homeSections/_section_interactive')%>
	<%-include('homeSections/_section_chatting')%>
	<%-include('homeSections/_section_remote-control')%>
	<%-include('homeSections/_section_recording')%>
	<%-include('homeSections/_section_dynamic')%>
</div>
